/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    padding-bottom: 20px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********STYLES*********/

body{
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
    border-top: solid 5px #26A65B;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

#intro{
    width: 50%;
    padding-left: 1.5%;
    padding-top: 20px;
}
.medium-par{
    line-height: 150%;
}



.expandables{
    padding-top: 30px;
    padding-left:1.5%;
    padding-bottom:20px;
    width:50%;
}
.collapse-title{
    padding-bottom: 20px;
}

.collapse_container{
    padding-left: 1.5%;
}
.collapse_content{
    padding-left: 2%;
    line-height: 150%;
}
.collapse{
  display:block;
  line-height: 150%;
  cursor: pointer;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse+ input:checked + *{
  display:block;
}

.green{
    display: inline-block;
    color: #26A65B;
}

.social_media{
    margin-top:30px;
}
.social_icon{
    text-decoration: none;
    padding-left: 1.5%;
}
.social_icon img{
    margin-bottom: 4px;
    vertical-align: middle;
    width:32px;
}

@media screen and (max-width: 800px) {
    .expandables{
        width:95%;
        float:none;
        border:none;
    }
    #intro{
        width: 95%;
    }
    #hello{
        padding-left:10px;
    }
}
